<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, , maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <link rel="stylesheet", href="/static/style.css" type="text/css">
        
    </head>
    <body>
            <footer style="width: 100%">
                    <div class="row footer-container" style="background-color: white; margin: 0%">
                        <div class="col-md-4 footer-leftside">
                            <ul style="list-style-type: none;  padding: 0px">
                                <li><h4 style="text-decoration:underline"><b>Menu</b></h4></li>
                                <li> <a href="/home">Home</a></li>
                                <li><a href="https://www.foreignadmits.com/contact">Contact us</a></li>
                                <li><a href="https://www.foreignadmits.com/">About us</a></li>
                                <li><a href="https://www.foreignadmits.com/blog">Blogs</a></li>
                            </ul>
                         </div>
           

                        <div  class="col-md-4 footer-centerside">
                            <div>
                                <h4 style="text-decoration:underline"><b>Calcultors</b></h4>
                                <li>
                                    <a href="/emi-calculator">EMI Calculator</a><br>
                                </li><br>
                                <li>
                                    <a href="/eligibility-calculator">Eligibility Calculator</a><br>
                                </li><br>
                                
                            </div>

                        <div  class="col-md-4 footer-rightside">
                            <ul style="list-style-type: none; padding: 0px">
                                <li><h4 style="text-decoration:underline"><b>Social Media</b></h4></li>
                                <li><a href="https://www.facebook.com/foreignadmits/">Facebook</a></li>
                                <li><a href="https://www.linkedin.com/company/foreignadmits/">Linkdin</a></li>
                                <li><a href="https://www.instagram.com/foreignadmits/">Instagram</a></li>
                                <li><a href="https://www.twitter.com/foreignadmits/">Twitter</a></li>
                            </ul>

                        </div>
                    </div>
                    <h4 style="background-color: #fff; margin: 0px; padding: 0px 0px 12px 0px; text-align: center">&copy; 2019 Foreginadmits | All Rights Reserved</h4>
                </footer>

    </body>
</html>