<html>
    <head>
        <title>
            Title
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <style>
            #header {
                padding-top: 0%;
                padding-left: 35%;
            }
            img{
                width: 400px;
                height: 100px;
                padding-left: 15px;
            }
            .navbar{
                border-radius: 0%;
                padding:10px 20px;
                height:25px;
            }
            a{
                padding: 0 20px;
                color: aliceblue;
                cursor: hand;
                
            }
            a:hover{
                color: white;
                font-size: 20px;
                text-decoration: none;
            }
            
            
            </style>
    </head>
    <header id="header">
        <img src="https://static.wixstatic.com/media/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.png/v1/fill/w_688,h_348,al_c,q_80,usm_0.66_1.00_0.01/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.webp">
    </header>
    <body>
        <nav class="navbar navbar-inverse ">
            <a href="#" class="navbar-left">Home</a>
            <a href="#">Contact us</a>
            <a href="#" class="navbar-right" style="padding-right: 30px;"> sign in</a>
            
        </nav>
    </body>     

</html>