<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/eduction_loan_interest_rates.css">
    <link rel="stylesheet", href="/static/style.css" type="text/css">
    <title>Education loan interest rates</title>
</head>
<body>
        <%- include('partials/header') -%>

    <div class="container-fluid">

            <div class="col content">
                    <p>Education Loans play a huge role in your abroad studies plans. A fit loan strategy can help you save lakhs.</p>

                   <p> Just like a good lender if opted can save you on interest rates.</p>
                    <ui style="list-style-type: none;">
                        <li>💡But how to choose and get approval from such lenders?</li>
                        <li>💡How to select a right loan lender?</li>
                        <li>💡Which banks are good?</li>
                        <li>💡Why collateral are needed in many loans?</li>
                        <li>💡Which financial lenders offer better loans without collaterals?</li>
                        <li>💡Why banks are always better if have collaterals?</li>
                        <li>💡Which private institutions gives better loans at a decent interest rates?</li>
                    </ui>
                    
                    <p>If you haven't thought about these in planning your higher education from top universities abroad, </p> 
                    
                    <p>✔YOU SHOULD THINK NOW!</p>
                    
                    <p>As I have seen many students & settled professionals also struggling on opting a wrong lender and have literally brought their bright careers at the edge of destruction.</p>
                    
                    <p>This document is a just a simple chart for you to see and compare the loans.</p>

                    <p>An education loan aims at sponsoring the college expenses of an individual. Anybody who wishes to study abroad or even in a domestic educational institute can opt for a student or education loan from any of the recognised banks.</p>

                    <p>The basic motive behind the concept of education loan was to help the aspirants economically and not let them murder their dreams due to some economic constraint. Added to this, such loans have only helped many of the students in going overseas without worrying about any financial limitations.</p>
                    
                    <p>Education Loan functions by helping students with their tuition fee, dorm room fee, laptop, books, stationery, travel for as long as they are studying in a college.</p>
                    
                    <p>And you start repaying the principal portion of the education loan six months to a year after finishing the course, or when you get a job, whichever is earlier. The repayments include a tiny sum of interest along with the original loan amount.</p>
                    
                    <p>If you plan to take an education loan, then do get in touch with GyanDhan once before going ahead with the procedure. GyanDhan is an education loan startup by IIT alumni and is working closely with various banks across India (including SBI, Bank of Baroda, Axis Bank etc) in order to help students get the best education loan deal in the shortest time, without any unnecessary hassle.</p>

                    <h3>Choosing your bank:</h3>
                    <p>A number of banks offer educational loans for different courses in India and abroad. They offer unsecured loans for small amounts. Security is required for loans that are required to fund expensive courses. Choose a bank that will provide you with the best moratorium period, interest rate and terms to pay back the loan. Also make sure you have the option of repaying the loan early. Choose the bank that offers you the best loan terms rather than the most finance. Also check if you are allowed to pay EMIs in advance or make part payments towards the loan. Know about all the service charges that are applicable on your loan. Prepayments and part payments might carry a penalty.</p>
            </div>
        </div>

        <div class="col table-content well">
            <h3 style="text-decoration: underline">Bank Interest Rates Table </h3><br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name of lender</th>
                        <th>Interest Rate</th>
                        <th>Loan Amount (Rs)</th>
                        <th>Processing Fee (Rs)</th>
                        <th>Margin Requirement</th>
                        <th>Maximum Tenure</th>
                        <th>Moratorium Period</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Syndicate Bank</td>
                        <td>9.25%-11.5%</td>
                        <td>Upto 2 Crore</td>
                        <td>NIL</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: Upto 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                    <tr>
                        <td>State Bank of India</td>
                        <td>9.25%-10.7%</td>
                        <td>Upto 1.5 Crore</td>
                        <td>Upto 10,000</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: Upto 15%</td>
                        <td>15 Years</td>
                        <td>Course period + upto 1 year</td>
                    </tr>
                    <tr>
                        <td>Punjab National Bank</td>
                        <td>10.25%-11.00%</td>
                        <td>No Limit</td>
                        <td>1% of loan amount (refundable after first disbursement)</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: Upto 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                    <tr>
                        <td>HDFC Credila</td>
                        <td>12.55%+Spread</td>
                        <td>1 Lakh onwards</td>
                        <td>1-1.5% of loan amount</td>
                        <td>Upto 100% funding</td>
                        <td>12 Years</td>
                        <td>Course period + Upto 1 Year</td>
                    </tr>
                    <tr>
                        <td>Canara Bank</td>
                        <td>10%-10.7%</td>
                        <td>Upto 20 Lakhs</td>
                        <td>NIL</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                    <tr>
                        <td>Avanse</td>
                        <td>12.65%+Spread</td>
                        <td>1 lakh onwards</td>
                        <td>1-2% of loan amount</td>
                        <td>Upto 100% funding</td>
                        <td>10 Years</td>
                        <td>6 months after course completion or 3 months after getting job, whichever is earlier</td>
                    </tr>
                    <tr>
                        <td>Axis Bank</td>
                        <td>13.7%-15.2%</td>
                        <td>50,000-75 Lakhs</td>
                        <td>Load upto 20 Lakhs: 15,000 (refundable). Loan above 20 Lakhs: 0.75% of differential amount</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year or 6 months after getting job, whichever is earlier</td>
                    </tr>
                    <tr>
                        <td>Bank of Baroda</td>
                        <td>9.45%-10.7%</td>
                        <td>Upto 80 Lakhs</td>
                        <td>Upto 10,000 9 refundable on first disbursement)</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: Upto 10%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                    <tr>
                        <td>Union Bank of India</td>
                        <td>10.05%-11.7%</td>
                        <td>Upto 30 Lakhs</td>
                        <td>NIL</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: Upto 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                    <tr>
                        <td>Federal Bank</td>
                        <td>10.85%-15.25%</td>
                        <td>Upto 20 Lakhs</td>
                        <td>Upto 2,500</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                    <tr>
                        <td>Bank of Maharashtra</td>
                        <td>9.6%-10.6%</td>
                        <td>Upto 20 lakhs</td>
                        <td>NIL</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year or 6 months after getting job, whichever is earlier</td>
                    </tr>
                    <tr>
                        <td>South Indian Bank</td>
                        <td>11%-15.8%</td>
                        <td>Upto 1.5 Crore</td>
                        <td>Upto 1% of loan amount</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: Upto 15%</td>
                        <td>15 Years</td>
                        <td>Course period +  6 months to 1 Year</td>
                    </tr>
                    <tr>
                        <td>Corporation Bank</td>
                        <td>10.35%-11.2%</td>
                        <td>Upto 20 Lakhs</td>
                        <td>2,000 (refundable on a aviling loan)</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                    <tr>
                        <td>UCO Bank</td>
                        <td>9.8%-11.05%</td>
                        <td>Upto 30 Lakhs</td>
                        <td>NIL</td>
                        <td>Upto Rs.4 Lakh: NIL. Above Rs.4 Lakh: Upto 15%</td>
                        <td>15 Years</td>
                        <td>Course period + 1 Year</td>
                    </tr>
                </tbody>
            </table>

            <a href="/compare_indian_loans"><button class="btn btn-success">Compare All Bank loans </button></a>
            <a href="/apply-loan"><button class="btn btn-success">Talk with our Counsltant </button></a>
        </div>

            
           
    </div>
    <%- include('partials/footer') -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>    
</body>
</html>