<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, , maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet", href="/static/style.css" type="text/css"> -->
        <style>
                 li {
                    margin: 3px;
                    }
                .container {
                    margin: 0% 0% 0% 0%;
                    padding: 5% 5% 5% 5%;
                    overflow-x: none;
                    }
                .eligibility_calci {
                        width: 80%;
                        padding: 3%;
                        margin: auto;
                        max-width: 500px;
                    }

                .container .well {
                        background: #EBF1FF; 
                        border-width: 0px; 
                        border-radius: 16px;
                    }
                .form-group .form-control  {
                    border: 2px solid #D6E2FF;
                    margin-bottom: 8px;
                    }

                .form-group .form-control:focus  {
                        border: 2px solid #5C8EFF;
                    }   

                .form-group .submit-button {
                        background-color: white; 
                        color: rgba(0, 255, 25, 0.6); ; 
                        border: 2px solid  rgba(0, 255, 25, 0.6);
                        width: 70%;
                        text-align: center;
                    }

                .form-group .submit-button:hover {
                        background-color : rgba(0, 255, 25, 0.6);
                        color: white;
                        margin: auto;
                    }
                @media screen and (max-width: 1150px) {
                    /* .eligibility_calci{
                        margin: 0%;
                        width: 100%;
                        padding: 10px 30px;                         
                    } */
                    /* .form-control{
                        width: 200px;
                    } */
                    
                    
                }
        </style>
    </head>
    <body style="font-family: Roboto, sans-serif">
        <%- include('partials/header') -%>
        <br>
        <div class="container" style="width:100%; padding: 6%; margin: 0%">
            <div class="row well" style="padding: 4%">
                <div class="col">
                        <h3><b>Education Loan Eligibility : </b></h3>
                        <p style="font-size:16px;text-indent: 50px;text-align: justify; padding: 12px" >Since these loans are offered to brilliant students who are unable to meet the expenses of their higher education, the basic education loan eligibility is the academic excellence and achievements of the students. In other words, the eligibility of the applicants are assessed on the basis of their academic performance as cited in the mark sheets of previous exams.</p>
                        <h3><b>Eligibility criteria : </b></h3>
                        <p style="font-size:16px;text-indent: 50px;text-align: justify; padding: 12px" >The vital education loan eligibility criteria that the candidates need to fulfil to get approval for the loan are listed out here:
                            <ul style="font-size:16px;">
                                <li>The candidate applying for the loan must be a resident of India.</li>
                                <li>He/she must have confirmed admission in recognised educational institutes in India or abroad.</li>
                                <li>The age of the candidate must fall within the bracket of 18 to 35 years during loan application.</li>
                                <li>He/she must be undergoing a graduate/postgraduate degree or a PG diploma.</li>
                                <li>The applicant should have a secured admission in a college or university affiliated by UGC/AICTE/Govt. etc.</li>
                                <li>Students pursuing full-time courses need to have a co-applicant who can be either parent/guardian or spouse/parent-in-law (in case of married candidates).</li>
                            </ul>
                        </p>
                </div>
            </div>
            <div class="row well" style="padding: 4%">
                <div class="col">
                        <h3><b>Education Loan Documentation : </b></h3>
                        <p style="font-size:16px;text-indent: 50px;text-align: justify; padding: 12px;" >As told earlier, education loan documentation doesn’t involve any hard-core paperwork. 
                            The process is simple and can be conducted online without paying physical visits to the banks. 
                            However, the process might vary depending on the criteria set by various banks or lending organisations. 
                            Also, the banks being very strict in their terms, failure to submit the mandated documents will lead to rejection </p>
                        <h4><b>Required Documents : </b></h4>
                        <div style="padding: 12px">
                            <p style="font-size: 16px">Here are the mandatory documents that a student need to provide to the banks while applying for a student loan</p>
                                <ul style="font-size:16px;">
                                    <li>Duly filled and signed application form with affixed photographs (2 photographs of passport size)</li>
                                    <li>Copy of exam mark sheets of 10th/12th or latest education certificate</li>
                                    <li>Statement of course expenses/cost of study</li>
                                    <li>Aadhaar Card and Pan Card of the student and Parent/ Guardian</li>
                                    <li>Age proof</li>
                                        <ul>
                                            <li>Copy of Aadhaar Card /Voter ID/Passport/Driving License</li>
                                        </ul>
                                    <li>Identity proof</li>
                                        <ul>
                                            <li>Copy of Voter ID/Aadhaar Card/Driving License/Passport</li>
                                        </ul>
                                    <li>Residence proof</li>
                                        <ul>
                                            <li>Rental agreement/Bank statement of 6 months of the student or co-borrower/guarantor/Copy of Ration card/Gas Book/Electricity Bill/Tel Bill.</li>
                                        </ul>
                                    <li>Income proof</li>
                                        <ul>
                                            <li>Most recent salary slips or Form 16 of the parent/ guardian/co-borrower.</li>
                                            <li>6 months bank statement of the borrower or updated passbook of bank.</li>
                                            <li>Updated ITR (Income Tax Return with income computation) of 2 years or IT assessment order of last 2 years of parent/co-borrower/guardian.</li>
                                            <li>Documents stating the assets and liabilities of the parent/co-borrower/guardia.</li>
                                        </ul>      
                                </ul>
                            </div>
                </div>
            </div>
            <div class="row well">
                <div class="col">
                    <h3 style="text-align: center"><b>Education Loan Eligibility Calculator</b></h3>
                    <div class="row">
                        <div class="col eligibility_calci">
                            <form class="form-group" action="/eligibility-calculator" method="POST">
                                <label>Name : </label>
                                <input type="text" class="form-control" name="name" placeholder="Name" required>
                                <label>Country : </label>
                                <input type="text" class="form-control" name="country" placeholder="Country" required>
                                <label>Age : </label>
                                <input type="number" class="form-control" name="age" placeholder="Age" required>
                                <label>Academics : </label>
                                <select class="form-control" name="academics" required>
                                    <option>Excellent</option>
                                    <option>Good</option>
                                    <option>Poor</option>
                                </select>
                                <label>University Admission : </label>
                                <select class="form-control" name="admission" required>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                                <label>Sufficient Income : </label>
                                <select class="form-control" name="income" required>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                                
                                <div style="text-align: center; margin-top: 16px">
                                    <input type="submit" class="btn form_font submit-button" value="Check Eligibility">
                                </div>
                            </form>
                        </div>
                        <div>
                            <% if(req==="POST"){ %>
                                <% if(eligible===true){ %>
                                    <h4 class="text-center alert-success" style="color: white; padding: 8px; font-size: 18px; background-color: rgba(0, 255, 25, 0.6); border-radius: 6px"><%= msg %></h4>
                                <% } %>
                                <% if(eligible===false){ %>
                                    <h4 class="text-center alert-danger" style="color: white; padding: 8px; font-size: 18px; background: rgba(255, 46, 3, 0.6); border-radius: 6px"><%= msg %></h4>
                                <% } %>
                            <% } %>
                        <% if(req==="POST"){ %>
                            <h4 class="text-center"><a href="/apply-loan">Click Here</a> for Clear Guidance from our experts </h4>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row well">
                <div class="col">
                    <h3 style="text-align: center; padding-bottom: 16px"><b>Education Loan Eligibility Requirement Table</b></h3>
                    <div class="col">
                        <table class="table">  
                            <tbody>
                                <tr>
                                    <td><strong>Particulars</strong></td>
                                    <td><strong>Eligibility</strong></td>
                                </tr>
                                <tr>
                                    <td>Nationality</td>
                                    <td>Indian</td>
                                </tr>
                                <tr>
                                    <td>Age </td>
                                    <td>Minimum- 18 years
                                            Maximum- 35 years</td>
                                </tr>
                                <tr>
                                    <td>Academic record</td>
                                    <td>Proven- good</td>
                                </tr>
                                <tr>
                                    <td>Qualification</td>
                                    <td>Pursuing graduate/postgraduate degree or a PG diploma.</td>
                                </tr>
                                <tr>
                                    <td>Income source</td>
                                    <td>Parents/Guardians </td>
                                </tr>
                                <tr>
                                    <td>Income</td>
                                    <td>Stable</td>
                                </tr>
                                <tr>
                                    <td>University Applied to</td>
                                    <td>Recognised – In India/Abroad</td>
                                </tr>
                                <tr>
                                    <td>Admission Status</td>
                                    <td>Confirmed</td>
                                </tr>
                                <tr>
                                    <td>Security </td>
                                    <td>Tangible collateral or guarantor- depending on the loan amount and income source.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>                
            </div>       
        </div>
        <%- include('partials/footer') -%>

    </body>
</html>

