<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, , maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <link rel="stylesheet", href="/static/style.css" type="text/css">
        <link rel="stylesheet", href="/static/home.css" type="text/css">
        
    </head>
    <body>
        <%- include('partials/header') -%>

        <br>
        <div class="vision_mission text-center">
            <h3>Foreignadmits is an initiative taken by a team of graduates and students from the world's best universities to provide complete guidance to students dreaming of joining these universities.</h3>
        </div><br>

        <div class="container-fluid">
            <div class="row second-row visibility-class" id="second-row">
                <div class="col-sm-4 srfc">
                    <a href="/emi-calculator"> 
                        Education Loan EMI Calculator
                    </a>
                </div>
                <div class="col-sm-4 srfc">
                    <a href="/compare_indian_loans"> 
                        Compare Bank Loan Interest Rates
                    </a>
                </div>
                <div class="col-sm-4 srtc">
                    <a href="/eligibility-calculator"> 
                            Education Loan Eligibility Calculator
                    </a>
                </div>
            </div>
            <div class="row third-row visibility-class" id="third-row">
                <div class="col-sm-4 trfc">
                        <a href="/student_tips">
                            Money Saving Tips in Foreign
                        </a>
                </div>
                <div class="col-sm-4 trsc">
                    <a href="#"> 
                            ROI Calculator
                    </a>
                </div>
                <div class="col-sm-4 trtc">
                    <a href="/education-loan-interest-rates"> 
                        Education Loan Interest Rates
                    </a>
                </div>
            </div>
        </div>   
            
        <%- include('partials/footer') -%>

    </body>
</html>