<!DOCTYPE html>
<html>
    <head>
        <title>
            Loan Repayment Calculator
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, , maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet", href="/static/style.css">
    </head>
    <body>
        <nav class="navbar navbar-default text-center">
            <a href="/"><img id="logo" src="https://static.wixstatic.com/media/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.png/v1/fill/w_688,h_348,al_c,q_80,usm_0.66_1.00_0.01/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.webp"></a>
        </nav>
        <br>
        <div class="vision_mission text-center">
            <h3>Foreignadmits is an initiative taken by a team of graduates and students from the world's best universities to provide complete guidance to students dreaming of joining these universities.</h3>
        </div>
        <div class="container ">
            <div class="row well">
                <div class="col-sm-4 col-md-offset-1 well">
                    <form action="/emi" method="POST" class="form-group">
                        <label class="form_font"> Principal Amount :</label><br>
                        <input type="number" class="form-control" name="loan_amount" min="1" required><br>
                        <label class="form_font"> Time Period (in months) :</label><br>
                        <input type="number" class="form-control" name="period" min="1" required><br>
                        <label class="form_font"> Interest Rate :</label><br>
                        <input type="number" step="0.01" class="form-control" min="0" max="100" name="intrest_rate" required><br>
                        <input type="submit" class="btn btn-success form-control form_font" name="get_emi", value="Generate EMI">
                    </form>
                    

                </div>
                <div class="col-sm-5 col-md-offset-1">
                    <br><h4><a href="/compare_indian_loans" style="color: black;font-family:sans-serif">Compare Bank Loan Interest Rates</a></h4><br>
                    <h4><a href="#" style="color: black;font-family:sans-serif">Education Loan Interest Rates</a></h4><br>
                    <h4><a href="/student_tips" style="color: black;font-family:sans-serif">Money Saving Tips in Foreign</a></h4><br>
                    <h4><a href="#" style="color: black;font-family:sans-serif">Expenses in USA and Canada</a></h4><br>
                        
                </div>
            </div>

        </div>
    </body>
</html>