<html>
    <head>
        <title>
            Title
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet", href="/static/style.css" type="text/css">
        
        <style>
            a{
                padding: 0 20px;
                color: white;
                cursor: hand;
                
            }
            a:hover{
                color: white;
                font-size: 20px;
                text-decoration: none;
                
            }
            .container{
                border: none
            }
            .well{
                background-color: white;
                border-style: none;
                border-top: none;
                border-bottom:none;
                border: none;
                
            }
            .row{
                padding: 30px 20px 0 20px;
                border: none
            }
            p, h3{
                font-family: sans-serif ;
                
            }
            p{
                font-size: 18px;
                text-align: justify;
                
            }
            @media screen and (max-width: 700px) {
            .content, .navbar {
             width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
            
             }
             .image:nth-child(n+2){
                
                width: 100%;
                
                
             }
             .image:nth-child(n+1){
                 width: 100%;
                 padding-left: 50px;
             }
             
            
             
            }
             

            
            </style>
    </head>
    
    <body>
        <nav class="navbar navbar-default text-center">
            <a href="/"><img id="logo" src="https://static.wixstatic.com/media/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.png/v1/fill/w_688,h_348,al_c,q_80,usm_0.66_1.00_0.01/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.webp"></a>
        </nav>
        <br>
        <h3 class="heading" style="padding: 10px 80px; color: white;text-decoration: underline">Student Money Saving Tips :</h3>
        
        <div class="container">
            <div class="row well">
                <div class=" col-md-4 image">
                        <img src="/static/1-art-background-1061142.jpg" width="300" height="300" style="padding: 20px">
                </div>
                <div class="col-md-8 content" style="padding: 20px">
                    <h3>Living Off-Campus</h3><br>
                    <p align: "justify">The first trick to save money is living off-campus in a room, sharing with 4-5 people based on the requirements. Living off-campus gives you an opportunity to explore the city with friends and indeed helps to connect with different people which inturn helps with Language Proficiency. It could even help us to learn cooking and other household works which will lend hands in the near future.</p>        
                </div>
            </div>
        </div>
        <br>
        <div class="container" >
                <div class="row well" style="background-image: url('blur-book-stack-bookcase-256517.jpg')   " >
                    <div class="col-md-8 content" style="padding: 20px">
                        <h3>Student discounts</h3><br>
                        <p align: "justify">A brilliant plan to save your money is through student discounts. You can enjoy all the entertainment with friends by looking for student discount offers. The offer can be availed during shopping in supermarkets, malls, theatres and even on food. Additional discount cards like ISIC cards are available that you can purchase</p>
                    </div>
                    <div class=" col-md-4 image" style="padding-left:60px;">
                            <img src="/static/2-art-background-1061141.jpg" width="300" height="300" style="padding: 20px">
                    </div>
                    
                </div>
        </div>
        <br>
		<div class="container">
            <div class="row well">
                <div class=" col-md-4 image" >
                        <img src="/static/3-art-background-1061140.jpg" width="300" height="300" style="padding: 20px">
                </div>
                <div class="col-md-8 content" style="padding: 20px">
                    <h3>Transportation and Travelling costs</h3><br>
                    <p>When you are living off-campus, transportation charges can make you feel heavy when you own a car or bike. Using public transportation can save you from spending money on fuel and gas.
                        If you are living nearby your University campus, walking can save extra money spent on transportation and also adds up for good and healthy heart. Flying to your country during semester holidays charge you a hefty sum on last minute bookings. If you are planning to visit your family during holidays, pre book your tickets at cheaper rates.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="container" >
                <div class="row well" >
                    <div class="col-md-8 content" style="padding: 20px">
                        <h3>Part time Work/Jobs</h3><br>
                        <p>Working part time at your free hours after classes or during weekends or during semester holidays helps you to earn money. Some employers may provide you free food during your working hours which cuts your meal expenses. You can even save more money and experience the local people and culture</p>
                        </div>
                    <div class=" col-md-4 image" style="padding-left:60px;">
                            <img src="/static/4-art-background-1061139.jpg" width="300" height="300" style="padding: 20px">
                    </div>
                    
                </div>
        </div>
        <br>
		<div class="container">
            <div class="row well">
                <div class=" col-md-4 image">
                        <img src="/static/5-chain-chrome-1061138.jpg" width="300" height="300" style="padding: 20px">
                </div>
                <div class="col-md-8 content" style="padding: 20px">
                    <h3>Scholarship and Grants</h3><br>
                    <p>Applying for scholarships and grants saves more money on tuition and semester fees. Applying for grants may help you to save living expenses. Research on the scholarship and grants policies thoroughly to suit your needs</p>
                    </div>
            </div>
        </div>
        <br>
        <div class="container" >
                <div class="row well" >
                    <div class="col-md-8 content" style="padding: 20px">
                        <h3>Bank account in USA</h3><br>
                        <p>Opening a bank account in the USA, saves transaction charges and helps you to avail student discounts. Opening an account with university tied up banks is easy and hassle free. Check for student discount offers and broad ATM accessibility before opening the account.
                            If you could not get a bank account, encash the large amount needed for a month's expense to avoid hefty transaction charges
                        </p>
                        </div>
                    <div class=" col-md-4 image" style="padding-left:60px;">
                            <img src="/static/6-art-background-1061137.jpg" width="300" height="300" style="padding: 20px">
                    </div>
                    
                </div>
        </div>
        <br>
		<div class="container">
            <div class="row well">
                <div class=" col-md-4 image">
                    <img src="/static/7-art-background-1061136.jpg" width="300" height="300" style="padding: 20px">
                </div>
                <div class="col-md-8 content" style="padding: 20px">
                    <h3>Online communication </h3><br>
                    <p>Mobile charges for making calls to your family and friends living abroad costs you enormously. Usage of Skype for making international calls is a one time charge which saves you a handful. You can also make use of WhatsApp and Google Voice call services which are free.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="container" >
                <div class="row well" >
                    <div class="col-md-8 content" style="padding: 20px">
                        <h3>Meal plans</h3><br>
                        <p>Many Universities offer meal plans to students that can be customized to their needs. The meals offered are wholesome and nutritious which saves the cost from eating outside. If you are living in a room and have access to the kitchen, you can cook your own meals and that saves even more.</p>
                    </div>
                    <div class=" col-md-4 image" style="padding-left:60px;">
                            <img src="/static/8-art-background-1061135.jpg" width="300" height="300" style="padding: 20px">
                    </div>
                    
                </div>
        </div>
        <br>
		<div class="container">
            <div class="row well">
                <div class=" col-md-4 image">
                        <img src="/static/9-art-background-1061134.jpg" width="300" height="300" style="padding: 20px">
                </div>
                <div class="col-md-8 content" style="padding: 20px">
                    <h3>Mobile plans and Paying bills</h3><br>
                    <p>Using SIM card with international usage access will rack up a lengthy bill. Opting a local usage SIM card costs cheaper. On the other hand, buying a family mobile plan can save money. Companies like Verizon, T-Mobile and AT&T offers discounts on family or friends group mobile plans. Paying your bills on time saves you from paying fine. Always pay your credit card bills, electricity bills and your rent on time.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="container" >
                <div class="row well ten" >
                    <div class="col-md-8 content" style="padding: 20px">
                        <h3>Buying used textbooks</h3><br>
                        <p>If your University allows to buy your study materials on your own, buy a used book or rent it as it may save you cost than buying new ones which you gonna use for a short time. You can even sell the books you bought off and make money from that. You can even save more if your University library carries the books you are looking for to take a photocopy.</p>
                    </div>
                    <div class=" col-md-4 image " style="padding-left:60px;"">
                            <img src="/static/10-art-artistic-1061133.jpg" width="300" height="300" style="padding: 20px">
                    </div>
                    
                </div>
        </div>
        <br>
        

        
            
    </body>     

</html>